.container{
    display: flex;
}

table{
    width: 150%;
    height: 20px;
}

h1{
    text-align: center;
}
th{
    height: 50px;
    font-size: 20px;
}

th:nth-child(14){
    margin-left: 5%;
    margin-right: 5%;
}

td{
    height: 50px;
    text-align: center;
}

.logo{
    align-items: center;
    display: flex;
    position: relative;
}

.tambah{
    border-radius: 3px;
    color: white;
    background-color: blue;
    align-content: center;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
}

.update{
    border-radius: 3px;
    color: white;
    background-color: green;
    align-content: center;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
}

.logo button{
    height: 25px;
    width: 40px;
    background-color: green;
    color: black;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 30px;
    transition: .3s;  
}

.logo button:nth-child(2){
    height: 25px;
    width: 40px;
    background-color: blue;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 9px 30px;
    transition: .3s;        
}