a{
    margin-left: 10px;
    margin-right: 10px;
    width: 500px;
}

table{
    margin-left: 20px;
}

.button{
    margin-top: 20px;
    margin-left: 20px;
}

.biru{
    border-radius: 3px;
    color: white;
    background-color: blue;
    align-content: center;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
}

.merah{
    border-radius: 3px;
    color: white;
    background-color: red;
    align-content: center;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;     
}